@import 'reset';
@import 'flex';
$fonts: 'Helvetica',
sans-serif;
html,
body {
    font-family: $fonts;
    font-size: 62.5%;
}

#main-wrapper {
    @include flexbox;
    width: 100%;
    height: 100%;
    // background: #ff0000;
    background: #00d2ff;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #00d2ff, #3a7bd5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #00d2ff, #3a7bd5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#header, #content, #footer{
	width: 100%;
}
#header{
	height: 30%;
	@include flexbox;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}