/* Eric Meyer's CSS Reset
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   This is a Sass partial
   */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
body {
  font-family: "BebasNeueRegular", "Helvetica", sans-serif;
  font-size: 62.5%; }

body {
  overflow: hidden; }

#main-wrapper::before {
  content: '';
  display: none; }

#main-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: #000000;
  /* fallback for old browsers */
  background: -webkit-radial-gradient(#000000, #050c15);
  /* Chrome 10-25, Safari 5.1-6 */
  background: radial-gradient(#000000, #050c15);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

#header {
  height: 25%;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

#footer {
  height: 15%;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.footer-text {
  font-size: 1.5rem;
  text-align: center;
  z-index: 9999; }
  .footer-text .fa {
    color: #E90606;
    margin: 0 3px;
    animation: pound 0.35s infinite alternate;
    -webkit-animation: pound 0.35s infinite alternate; }

@-webkit-keyframes pound {
  to {
    transform: scale(1.1); } }
@keyframes pound {
  to {
    transform: scale(1.1); } }
#content {
  width: 100%;
  height: 60%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.text-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  height: 100%;
  padding-top: 7%;
  flex-direction: column;
  justify-content: space-around; }

.content-text {
  color: #ffffff;
  font-size: 4rem; }

.footer-text {
  color: #ffffff;
  font-size: 2rem; }

#logo {
  height: 50rem;
  width: 50rem; }

.title {
  font-size: 12rem;
  color: #fff; }

.cb-slideshow,
.cb-slideshow:after {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0; }

.cb-slideshow:after {
  content: '';
  background: transparent url(../images/pattern.png) repeat top left; }

.cb-slideshow li span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 24s linear infinite 0s; }

.cb-slideshow li div {
  z-index: 1000;
  position: absolute;
  bottom: 30px;
  left: 0px;
  width: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  animation: titleAnimation 24s linear infinite 0s; }

.cb-slideshow li div h3 {
  font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
  font-size: 240px;
  font-size: 20rem;
  padding: 0;
  line-height: 200px;
  line-height: 20rem; }

.cb-slideshow li:nth-child(1) span {
  background-image: url(../images/1.jpg); }

.cb-slideshow li:nth-child(2) span {
  background-image: url(../images/2.jpg);
  animation-delay: 6s; }

.cb-slideshow li:nth-child(3) span {
  background-image: url(../images/3.jpg);
  animation-delay: 12s; }

.cb-slideshow li:nth-child(4) span {
  background-image: url(../images/4.jpg);
  animation-delay: 18s; }

.cb-slideshow li:nth-child(2) div {
  animation-delay: 6s; }

.cb-slideshow li:nth-child(3) div {
  animation-delay: 12s; }

.cb-slideshow li:nth-child(4) div {
  animation-delay: 18s; }

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in; }
  8% {
    opacity: 1;
    animation-timing-function: ease-out; }
  17% {
    opacity: 1; }
  25% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@keyframes titleAnimation {
  0% {
    opacity: 0; }
  8% {
    opacity: 1; }
  17% {
    opacity: 1; }
  19% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@-webkit-keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in; }
  8% {
    opacity: 1;
    animation-timing-function: ease-out; }
  17% {
    opacity: 1; }
  25% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@-webkit-keyframes titleAnimation {
  0% {
    opacity: 0; }
  8% {
    opacity: 1; }
  17% {
    opacity: 1; }
  19% {
    opacity: 0; }
  100% {
    opacity: 0; } }
.android-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end; }

.android {
  margin: 2% 2% 0 0;
  font-size: 5rem;
  width: 8rem;
  height: 8rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #a4c639; }

.android:hover {
  color: #a4c639;
  background: #ffffff; }

/*# sourceMappingURL=main.css.map */
